.tituloPrincipal {
    font-family: 'Work Sans', sans-serif;
    font-size: 33px;
    margin: 0px auto;
    margin-top: 16px;
    text-align: center;
}

.background {
    display: block;
    margin: 0 auto;
}