body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
}

.titulo-principal {
    display: block;
    margin: 2rem auto 1.3rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.canvasImg-container {
    display: block;
    margin: 0 auto;
    width: 940px;
    height: 529px
}

.canvasImg {
    position: absolute;
    border-radius: 20px;
}

.instruction-line {
    text-align: center;
    background-color: #ccc;
    border: 1px solid #000;
    border-radius: .5rem;
    margin: 0 5rem;
    padding: .7rem .2rem;
    font-weight: 600;
}

.form {
    /* display: none; 'show display after selectLocação' */
    margin: 7rem auto;
    border: 2px solid #000;
    border-radius: 1rem;
    width: fit-content;
    padding: .7rem 2rem;
    background-color: #bbb;
    text-transform: uppercase;
    box-shadow: 3px 3px 1px #222;
}

.form__label {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    margin: .7rem auto;
    font-weight: 600;
}

.form__input {
    display: block;
    font-size: 1.3rem;
    text-align: center;
    margin: .7rem auto;
    padding: .2rem 0;
    text-transform: uppercase;
    transition: 400ms;
}

.form__input:hover {
    background-color: rgb(255, 254, 181)
}

.form__radio {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.35rem;
    text-transform: none;
    line-height: 2rem;
    margin: 0 28%;
    width: 45%;
}

input[type="radio"]:checked {
    accent-color: rgb(255, 255, 130);
}

.form__radio:hover {
    text-shadow: 0 0 10px rgb(255, 255, 130);
}

.form__btn {
    display: flex;
    justify-content: space-around;
    margin: 1rem auto .4rem;
}

.form__btn-submit {
    padding: .33rem 1.2rem;
    background-color: #03A678;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 300ms;
}

.form__btn-submit:hover {
    padding: .33rem 2.6rem;
    color: #fff;
}